Page {
    background-color: white;
}

Button {
  margin: 20;
  horizontal-align: center;
  color: white;
  font-size: 18;
  width: 110;
  height: 110;
}

GridLayout {
  horizontal-align: center;
}

#tempButton {
  background-color: #28ABE3;
}

#textButton {
  background-color: #1FDA9A;
}

#newsButton {
  background-color: #E8B71A;
}

#stocksButton {
  background-color: #542733;
}

#plasmaButton {
  background-color: #DB3340;
}

#randomButton {
  background-color: #F38630;
}

.listItem {
    margin: 10;
    horizontal-align: center;
    color: white;
    background-color: #008BBA;
    font-size: 32;
}

.info{
    margin: 10;
    font-size:24;
    color: #808080;
}
