Page {
    background-color: #DF514C;
}

Button {
  horizontal-align: center;
  color: white;
  font-size: 24;
  width: 200;
  height: 200;
}

GridLayout {
  horizontal-align: center;
}

#tempButton {
  background-color: #28ABE3;
}

#textButton {
  background-color: #F38630;
}

#newsButton {
  background-color: #FCD059;
}

#stocksButton {
  background-color: #DF514C;
}

#plasmaButton {
  background-color: #1FDA9A;
}

#randomButton {
  background-color: #6E9ECF;
}

.info{
    margin: 10;
    font-size:24;
    color: #808080;
}
