Page {
    background-color: white;
}

Button {
  horizontal-align: center;
  color: white;
  font-size: 24;
  width: 200;
  height: 200;
}

TextField {
  margin: 10 10 10 10;
  padding-left: 20;
  font-size: 18;
  color: #808080;
  horizontal-align: center;
}

.SendButton {
  color: #808080;
  font-size: 24;
}

GridLayout {
  horizontal-align: center;
}

#tempButton {
  background-color: #28ABE3;
}

#textButton {
  background-color: #F38630;
}

#newsButton {
  background-color: #FCD059;
}

#stocksButton {
  background-color: #DF514C;
}

#plasmaButton {
  background-color: #1FDA9A;
}

#randomButton {
  background-color: #6E9ECF;
}

.info{
    margin: 10;
    text-align: center;
    font-size: 18;
    color: #808080;
}
